@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
 <h3>Silahkan melakukan registrasi terlebih dahulu</h3>
 @Html.ActionLink("Registrasi", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
</div>


